NODE_ENV=development
APP_PORT=4000

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=

DEV_POSTGRES_HOST=dev-db
DEV_POSTGRES_PORT=5432
DEV_POSTGRES_USER=test
DEV_POSTGRES_PASSWORD=KfTyF7prfroyQ/ILBQDNhNULt
DEV_POSTGRES_DB_NAME=devdb

TEST_POSTGRES_HOST=localhost
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_USER=test
TEST_POSTGRES_PASSWORD=tYEvMiY70eClgCnKE/dotU5Zg
TEST_POSTGRES_DB_NAME=testdb

MIGRATION_POSTGRES_HOST=localhost
MIGRATION_POSTGRES_PORT=5432
MIGRATION_POSTGRES_USER=test
MIGRATION_POSTGRES_PASSWORD=KfTyF7prfroyQ/ILBQDNhNULt
MIGRATION_POSTGRES_DB_NAME=devdb

AWS_REGION=
DYNAMO_DB_URL=
DYNAMO_DB_ACCESS_KEY_ID=
DYNAMO_DB_SECRET_ACCESS_KEY=

TEST_AWS_REGION=us-east-1
TEST_DYNAMO_DB_URL=http://dynamodb:8000
TEST_DYNAMO_DB_ACCESS_KEY_ID=test
TEST_DYNAMO_DB_SECRET_ACCESS_KEY=test

GITHUB_ACCOUNT_LOGIN=ALEXANDERSUS
AUTH_PASSWORD=TEST_PASSWORD