APP_PORT=4000

GITHUB_ACCOUNT_LOGIN=yourGithubLogin
AUTH_PASSWORD=TEST_PASSWORD

# PROD ENV
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=


# DEV ENV
DEV_POSTGRES_HOST=localhost
DEV_POSTGRES_PORT=5432
DEV_POSTGRES_USER=test
DEV_POSTGRES_PASSWORD=KfTyF7prfroyQ/ILBQDNhNULt
DEV_POSTGRES_DB_NAME=devdb


# MIGRATION ENV- use prod or dev credentials 
MIGRATION_POSTGRES_HOST=localhost
MIGRATION_POSTGRES_PORT=5432
MIGRATION_POSTGRES_USER=test
MIGRATION_POSTGRES_PASSWORD=KfTyF7prfroyQ/ILBQDNhNULt
MIGRATION_POSTGRES_DB_NAME=devdb

# TEST ENV for jest
TEST_POSTGRES_HOST=localhost
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_USER=test
TEST_POSTGRES_PASSWORD=tYEvMiY70eClgCnKE/dotU5Zg
TEST_POSTGRES_DB_NAME=testdb


AWS_REGION=
DYNAMO_DB_URL=
DYNAMO_DB_ACCESS_KEY_ID=
DYNAMO_DB_SECRET_ACCESS_KEY=

TEST_AWS_REGION=us-east-1
TEST_DYNAMO_DB_URL=https://localhost.localstack.cloud:4566
TEST_DYNAMO_DB_ACCESS_KEY_ID=000000000000
TEST_DYNAMO_DB_SECRET_ACCESS_KEY=LSIAQAAAAAAVNCBMPNSG

